:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-neutral: #e1e1e1;
  --basic-extra-light: #eeeeee;
  --basic-white: #ffffff;
  --basic-grey: #666666;

  --special-grey-deep: #dfdfdf;
  --special-grey-light: #d5d5d5;
  --special-grey-neutral: #d7dcdf;
  --special-grey-boring: #d7dcde;
  --special-grey-dull: #c1c1c1;
  --special-grey-dim: #ababab;
  --special-grey-dingy: #cfcfcf;
  --special-grey-arrow1: #a6a6a6;
  --special-grey-arrow2: #231f20;
  --special-grey-lastone: #b4b9bb;

  --special-red-light: #fb565a;
  --special-red: #e74246;
  --special-red-dark: #d7373b;
  --special-green-light: #00ca74;
  --special-green: #00bc6c;
  --special-green-dark: #00aa62;
  --special-yellow-light: #efc849;
  --special-yellow: #eab534;
  --special-yellow-dark: #e5a722;

  --transparent-black-01101: rgba(0, 1, 1, 0.1);
  --transparent-black-000015: rgba(0, 0, 0, 0.15);
  --transparent-black-011025: rgba(0, 1, 1, 0.25);
  --transparent-black-00003: rgba(0, 0, 0, 0.3);
  --transparent-black-00004: rgba(0, 0, 0, 0.4);
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 880px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide {
  display: none;
}

.button {
  font: inherit;
  display: block;

  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;

  color: var(--basic-white);

  text-transform: uppercase;

  background-color: var(--special-red-light);
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--special-red);
}

.button:active {
  color: var(--transparent-black-00003);

  background-color: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px var(--transparent-black-01101);
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--basic-extra-light);
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--basic-black);
}

.main-header-logo {
  max-height: 65px;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;

  min-width: 440px;

  margin-left: -6px;
  padding-top: 16px;

  list-style: none;
}

.nav-link {
  position: relative;

  display: block;

  margin-left: 47px;

  text-transform: uppercase;

  color: var(--basic-black);
}

.site-navigation:first-child {
  margin-left: 0;
}

.user-cart {
  position: relative;

  min-width: 115px;
  padding-top: 16px;
  padding-left: 76px;

  text-align: right;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--special-red-light);
}

.nav-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.button-cart::before {
  content: "";

  position: absolute;
  width: 15px;
  height: 15px;

  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: -41px;
}

.nav-link-active::after {
  content: "";

  position: absolute;

  bottom: -14px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: var(--special-red-light);
}

.nav-link-active:hover,
.nav-link-active:focus,
.nav-link-active:active {
  color: var(--basic-black);
  opacity: 1;
}

.features {
  position: relative;

  background-color: var(--basic-extra-light);
}

.features-description {
  min-height: 431px;
  padding-right: 524px;
  padding-bottom: 70px;
}

.features-accent {
  padding-top: 78px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  margin-bottom: 25px;

  color: var(--basic-black);
}

.features a {
  margin-top: 39px;

  width: 240px;
}

.features div:nth-child(2) {
  background-image: url(../img/benefits/slide-1.png);
  background-repeat: no-repeat;
  background-position: right 3px bottom;
  background-size: 760px 431px;
}

.features div:nth-child(3) {
  background-image: url(../img/benefits/slide-2.png);
  background-repeat: no-repeat;
  background-position: right 3px bottom;
  background-size: 760px 431px;
}

.features div:nth-child(4) {
  background-image: url(../img/benefits/slide-3.png);
  background-repeat: no-repeat;
  background-position: right 3px bottom;
  background-size: 760px 431px;
}

.features-slider-control {
  position: absolute;

  left: 50.5%;
  bottom: 23%;
  transform: translateX(-50%);
}

.slider-control-button {
  position: relative;

  width: 18px;
  height: 18px;

  margin-right: 13px;

  border: 9px solid var(--basic-white);
  border-radius: 50%;

  cursor: pointer;
}

.active-slider {
  pointer-events: none;
}

.active-slider::before {
  content: "";

  position: absolute;

  left: -4px;
  transform: translateY(-50%);

  z-index: 2;

  width: 8px;
  height: 8px;

  background-color: inherit;

  border: 2px solid var(--special-grey-dull);
  border-radius: 50%;
}

.services {
  padding-top: 80px;
  padding-bottom: 121px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 42px;
       column-gap: 42px;

  list-style: none;
}

.services-item {
  width: 300px;
}

.services-item:nth-child(1) {
  background-image: url(../img/services/1-sites.jpg);
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  background-image: url(../img/services/2-apps.jpg);
  background-repeat: no-repeat;
}

.services-item:nth-child(3) {
  background-image: url(../img/services/3-presentations.jpg);
  background-repeat: no-repeat;
}

.services-item h3 {
  padding: 171px 0 16px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--basic-black);
}

.services-item p {
  width: 260px;

  padding-bottom: 32px;
}

.services-item a {
  width: 160px;
}

.button-apps {
  background-color: var(--special-green-light);
}

.button-apps:hover,
.button-apps:focus {
  background-color: var(--special-green);
}

.button-apps:active {
  color: var(--transparent-black-00003);

  background-color: var(--special-green-dark);
  box-shadow: inset 0px 3px 0px var(--transparent-black-01101);
}

.button-presentations {
  background-color: var(--special-yellow-light);
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: var(--special-yellow);
}

.button-presentations:active {
  color: var(--transparent-black-00003);

  background-color: var(--special-yellow-dark);
  box-shadow: inset 0px 3px 0px var(--transparent-black-01101);
}

.info {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info::before {
  position: absolute;

  content: "";
  top: -41px;
  left: 20px;
  right: 20px;

  height: 2px;

  background: var(--basic-extra-light);
}

.info-description {
  max-width: 58%;
}

.info-description-accent {
  margin-top: 34px;
  margin-bottom: 33px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;

  color: var(--basic-black);
}

.info-description h4 {
  margin-top: 41px;
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
}

.info-description-list {
  list-style: none;
}

.info-description-list li {
  position: relative;

  margin-bottom: 24px;

  padding-left: 36px;
}

.info-description-list li::before {
  content: "";

  position: absolute;

  margin-right: 10px;

  left: 0px;
  bottom: 11px;
  width: 25px;
  height: 2px;

  background: var(--special-red-light);
}

.info-metrics {
  width: 31%;
}

.info-metrics h4 {
  margin-top: 30px;
  margin-bottom: 31px;
  margin-left: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;

  color: var(--basic-black);
}

.info-metrics-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
}

.info-metrics-list span {
  display: block;

  margin-bottom: 12px;
  margin-right: 23px;

  font-weight: bold;
  font-size: 45px;
  line-height: 64px;

  color: var(--basic-black);
}

.info-metrics-list p {
  line-height: 18px;
}

.persent {
  font-size: 26px;
  line-height: 40px;
}

.clients {
  position: relative;
}

.clients::before {
  position: absolute;

  content: "";
  top: 49px;
  left: 20px;
  right: 20px;

  height: 2px;

  background: var(--basic-extra-light);
}

.clients::after {
  position: absolute;

  content: "";
  bottom: 77px;
  left: 20px;
  right: 20px;

  height: 2px;

  background: var(--basic-extra-light);
}

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 90px;
       column-gap: 90px;

  padding-top: 100px;
  padding-bottom: 115px;
  padding-left: 30px;

  list-style: none;
}

.clients-item {
  display: block;

  position: relative;
  display: flex;
  align-items: center;
}

.clients-html {
  margin-top: 3px;
  margin-right: -2px;
}

.clients-borodinski {
  margin-top: -3px;
  margin-left: -10px;
}

.clients-pink {
  margin-right: 5px;
}

.clients-item::after {
  content: "";

  position: absolute;

  top: 15px;
  right: -32px;

  width: 2px;
  height: 52px;

  background-color: var(--basic-extra-light);
}

.clients-item:nth-child(4n)::after {
  content: none;
}

.clients-button {
  opacity: 0.2;
}

.clients-button:hover,
.clients-button:focus {
  opacity: 1;
}

.clients-button:active {
  opacity: 0.1;
}

.contacts {
  position: relative;

  height: 416px;

  padding-top: 57px;
  padding-bottom: 54px;

  background-color: var(--basic-extra-light);
  background-image: url(../img/map.png);
}

.contacts iframe {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;

  z-index: 1;
}

.contacts::before {
  content: "";

  position: absolute;

  left: 57%;
  top: 21%;

  width: 231px;
  height: 190px;

  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts-description {
  position: absolute;

  padding-top: 49px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-left: 50px;

  background-color: var(--basic-white);

  z-index: 2;
}

.contacts-description span {
  display: block;
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--basic-black);
}

.contacts-description address,
.contacts-description p {
  margin-bottom: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;

  color: var(--basic-grey);
}

.contacts-description p {
  margin-bottom: 37px;
}

.contacts-tel {
  color: var(--basic-grey);
}

.feedback-button {
  width: 219px;
}

.social {
  display: flex;
  align-items: center;

  padding-top: 72px;
  padding-bottom: 68px;
}

.social-buttons-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;

  margin-right: 140px;

  list-style: none;
}

.social-buttons-item a {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--basic-neutral);
  border-radius: 50%;
}

.social-buttons-item a:hover,
.social-buttons-item a:focus {
  background-color: var(--special-red);
}

.social-buttons-item a:active {
  background-color: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px var(--transparent-black-01101);
}

.social-buttons-item svg:active {
  opacity: 0.3;
}

.social-description h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  color: var(--basic-black);
}

.social-description p {
  margin-top: 10px;

  line-height: 22px;

  color: var(--basic-dark);
}

.catalog-title {
  padding-top: 77px;
  padding-bottom: 108px;

  background-color: var(--basic-extra-light);
}

.catalog-title h1 {
  margin: 0px;
  margin-left: 208px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  color: var(--basic-black);
}

.catalog-content {
  display: flex;
  justify-content: space-between;

  padding-top: 55px;
  padding-bottom: 55px;
}

.catalog-filters-form fieldset {
  margin: 0px;
  padding: 0px;

  border: none;
}

.catalog-filters-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--basic-black);
}

.range-filter {
  width: 260px;

  margin-top: 49px;
  margin-bottom: 55px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 80px;

  margin-bottom: 12px;
  padding-top: 39px;
  padding-right: 21px;
  padding-left: 21px;

  background-color: var(--basic-extra-light);

  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background: var(--special-grey-neutral);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--special-green-light);
}

.range-controls .toggle {
  position: absolute;

  top: 31px;
  left: 0;

  width: 20px;
  height: 20px;

  padding: 0;

  border: 8px solid var(--basic-white);
  border-radius: 50%;

  background-color: var(--special-grey-dim);

  box-shadow: 0px 2px 1px var(--transparent-black-000015);

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  height: 38px;

  padding-top: 5px 10px;
  margin-left: 9px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: var(--basic-extra-dark);
  background: var(--basic-extra-light);

  border: none;
  border-radius: 3px;
}

.title-grid,
.title-features {
  margin-bottom: 14px;
}

.catalog-filters-grid,
.catalog-filters-features {
  list-style: none;
}

.catalog-filters-grid li,
.catalog-filters-features li {
  position: relative;

  margin-bottom: 17px;

  font-size: 16px;
  line-height: 19px;

  color: var(--basic-extra-dark);
}

.catalog-filters-grid {
  margin-bottom: 47px;
}

.filter-radio-label {
  cursor: pointer;

  display: block;

  padding-top: 3px;
  padding-left: 36px;
}

.filter-radio-input + label::before {
  content: "";

  position: absolute;

  left: 0;
  top: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/filters/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-radio-input:checked + label::before {
  display: none;
}

.filter-radio-input:checked + label::after {
  content: "";

  position: absolute;

  left: 0;
  top: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/filters/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-radio-input + label:hover::after,
.filter-radio-input + label:hover::before,
.filter-radio-input:focus + label::after,
.filter-radio-input:focus + label::before {
  opacity: 1;
}

.filter-radio-input:disabled + label::after,
.filter-radio-input:disabled + label::before {
  opacity: 0.1;
}

.filter-checkbox-label {
  cursor: pointer;

  display: block;

  padding-top: 3px;
  padding-left: 35px;
}

.filter-checkbox-input + label::before {
  content: "";

  position: absolute;

  left: 0;
  top: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/filters/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-checkbox-input:checked + label::before {
  display: none;
}

.filter-checkbox-input:checked + label::after {
  content: "";

  position: absolute;

  left: 0;
  top: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/filters/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-checkbox-input + label:hover::after,
.filter-checkbox-input + label:hover::before,
.filter-checkbox-input:focus + label::after,
.filter-checkbox-input:focus + label::before {
  opacity: 1;
}

.filter-checkbox-input:disabled + label::after,
.filter-checkbox-input:disabled + label::before {
  opacity: 0.1;
}

.catalog-filters-features {
  margin-bottom: 54px;
}

.filter-button {
  width: 260px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 88px;
  padding-right: 88px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--basic-extra-light);

  border: none;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--special-grey-deep);
}

.filter-button:active {
  color: var(--transparent-black-00003);

  background-color: var(--special-grey-light);
  box-shadow: inset 0px 3px 0px var(--transparent-black-01101);
}

.catalog-preview {
  display: flex;
  flex-direction: column;
}

.catalog-sort {
  display: flex;

  margin-bottom: 48px;
}

.catalog-sort-features {
  display: flex;
  justify-content: space-between;

  width: 272px;

  margin-top: 2px;
  margin-left: 266px;
  margin-right: 47px;

  list-style: none;
}

.catalog-sort-features-button {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-black);
  opacity: 0.3;

  border: none;

  background-color: transparent;
}

.catalog-sort-features-button:hover,
.catalog-sort-features-button:focus {
  opacity: 0.6;
}

.catalog-sort-features-button:active {
  opacity: 1;
}

.active-sort {
  opacity: 1;
}

.catalog-sort-direction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;

  list-style: none;
}

.sort-arrow {
  color: var(--special-grey-arrow1);
  opacity: 0.2;
}

.sort-arrow:hover,
.sort-arrow:focus {
  opacity: 1;
}

.sort-arrow:active {
  color: var(--special-grey-arrow2);
  opacity: 1;
}

.active-sort-arrow {
  color: var(--special-grey-arrow2);
  opacity: 1;
}

.catalog-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px;

  margin-bottom: 64px;
}

.catalog-items-card {
  position: relative;

  width: 360px;
  height: 618px;

  margin-bottom: -6px;

  border-radius: 5px;
}

.catalog-items-card img {
  margin-top: 40px;

  width: 100%;
  height: auto;

  border: solid 1px var(--basic-neutral);
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.catalog-items-card::before {
  content: "";

  position: absolute;
  top:  0px;
  left: 0px;

  width: 360px;
  height: 40px;

  background-image: url(../img/catalog-preview/browser.svg);
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-items-card:hover::before,
.catalog-items-card:focus::before {
  opacity: 1;
}

.catalog-items-hover {
  display: none;
  -webkit-animation: hover 0.3s;
          animation: hover 0.3s;
}

.catalog-items-card:hover,
.catalog-items-card:focus {
  box-shadow: 0px 6px 15px 0 var(--transparent-black-011025);
}

.catalog-items-card:focus-within .catalog-items-hover {
  display: block;
}

.catalog-items-card:hover .catalog-items-hover {
  display: block;
}

.catalog-items-descriptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding-bottom: 44px;

  bottom: 0px;

  text-align: center;

  background-color: var(--basic-extra-light);
}

.catalog-items-descriptions-title {
  display: block;
  margin: 26px 0px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--basic-black);
}

.catalog-items-descriptions-title:hover,
.catalog-items-descriptions-title:focus {
  color: var(--special-red-light);
}

.catalog-items-descriptions-title:active {
  color: var(--transparent-black-00003);
}

.catalog-items-descriptions p {
  max-width: 255px;

  margin-bottom: 32px;

  font-size: 16px;
  line-height: 18px;

  color: var(--basic-grey);
}

.catalog-items-descriptions-button {
  width: 200px;
}

.pagination-list {
  display: flex;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;

  text-align: center;

  background-color: var(--basic-extra-light);
  border-radius: 3px;
}

.pagination-button {
  display: block;
  width: 50px;
  height: 50px;

  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--basic-black);
}

.pagination-item .active {
  padding-top: 13px;

  pointer-events: none;

  background-color: var(--basic-white);

  border: solid 3px var(--basic-extra-light);
  border-radius: 3px;
}

.next {
  width: 260px;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--special-grey-deep);
  border-radius: 3px;
}

.pagination-button:active {
  color: var(--transparent-black-00003);

  background-color: var(--special-grey-light);
  box-shadow: inset 0px 3px 0px var(--transparent-black-01101);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--transparent-black-00004);

  z-index: 2;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 79px;
  left: 849px;
  right: -34px;
  width: 22px;
  height: 22px;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-button {
  width: 259px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  border: none;
}

.modal-feedback {
  top: 10%;
  bottom: auto;

  width: 960px;

  padding-top: 63px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 100px;
}

.feedback-title {
  display: block;

  margin: 0px;
  margin-bottom: 37px;

  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.feedback-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0px;
}

.feedback-form label {
  display: block;

  margin-bottom: 9px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.feedback-name,
.feedback-email {
  width: 360px;

  padding: 16px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: var(--basic-dark);
  opacity: 0.5;

  box-sizing: border-box;

  border: 2px solid var(--special-grey-boring);
  border-radius: 3px;
}

.feedback-text {
  width: 760px;

  padding: 16px;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: var(--basic-dark);
  opacity: 0.5;

  box-sizing: border-box;

  border: 2px solid var(--special-grey-boring);
  border-radius: 3px;
}

.feedback-name:hover,
.feedback-email:hover,
.feedback-text:hover {
  color: var(--special-grey-lastone);
  opacity: 1;

  border: 2px solid var(--special-grey-lastone);
  outline: none;
}

.feedback-name:focus,
.feedback-email:focus,
.feedback-text:focus {
  color: var(--basic-black);
  opacity: 1;

  border: 2px solid var(--basic-black);
  outline: none;
}

.feedback-name:invalid,
.feedback-email:invalid,
.feedback-text:invalid {
  color: var(--special-red-dark);
  opacity: 1;

  border: 2px solid var(--special-red-dark);
  outline: none;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@-webkit-keyframes hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
